
/* 1. General Styles */
body {
    color: #5e5e5e;
    font-family: 'Sanchez', 'Times New Roman', serif;
}

a {
    text-decoration: none;
    transition: all .5s ease-in-out;
 }

.line-separator {
    margin-top: 20px;
    border-top: solid 3px #c54242;
    padding-top: 20px;
 }

input, textarea {
    display: block;
    margin: 0;
    padding: 0;
 }

.cr-red {
    color: #9a2018;
 }

.heading-box {
   align-self: end;
}

.clickdetails {
   padding-top: 2px;
}

.clickdetails span{
   color: #3b3b3b;
   border-bottom: #5e5e5e solid 2px;
   font-size: 11px;
}

.clickdetails::before {
   content: "▶";
}

.clickdetails::after {
   content: "💬";
}

.clickdetails span:hover {
   color: #9a2018;
   font-weight: bold;
   font-style: italic;
   font-size: 11px;
   border-bottom: #9a2018 solid 3px;
}

.read-more-text {
   text-align: end;
}

.read-more-text::before {
   content: "▶";
   padding-right: 3px;
}

.read-more-text:hover {
   content: "▶";
   color: #9a2018;
}

.read-more-text span{
   font-size: 14px;
   color:#3b3b3b;
}

.read-more-text span:hover {
   color: #9a2018;
   border-bottom: #9a2018 solid 3px;
   font-style: italic;
}

.booknow-bth {
   background-color: #9a2018;
   width: 120px;
   font-size: 16px;
   border-radius: 50px;
   border: 0px;
   text-align: center;
   padding: 3px 20px 3px 20px;
   margin-right: 40px;
}

 .booknow-bth {
   background-color: #9a2018;
   width: 120px;
   font-size: 16px;
   border-radius: 50px;
   border: 0px;
   text-align: center;
   padding: 3px 20px 3px 20px;
   margin-right: 40px;
}

.booknow-bth span {
   color: #fff;
}

.booknow-bth span:hover {
   border-bottom: #fff solid 3px;
   }

.booknow-bth span::before {
   content: "▶" ;
   padding-right: 8px;
   }

.booknow-bth:hover {
   background-color:#5f5c5c;
 }

.room-link {
   display: flex;
   margin-bottom: 20px;
}

/* Main Nav */
#main-nav label img {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: all .5s ease;
    margin-bottom: 20px; 
 } 

#main-nav input, #burger-con {
    display: none;
 }

#main-nav input:checked ~ #burger-con {
   display: block;
}

#main-nav input:checked ~ label img {
   transform: rotate(90deg);
}
 
#main-nav ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

#main-nav ul li a {
   display: block;
   padding: 10px 0 10px 0;
   text-align: center;
   color: #3b3b3b;
}

#spa-submenu {
   padding: 10px 0 10px 0;
   text-align: center;
   color: #3b3b3b;
   border-bottom: 1px solid #c9c3c3;
}
#spa-submenu:hover {
   color: #9a2018;
   font-weight: bold;
}

#spa-submenu li {
   list-style: none;
}

#main-nav ul li a:hover {
   color: #9a2018;
   font-weight: bold;
   text-decoration: underline;
}

#main-nav ul li {
   border-bottom: 1px solid #c9c3c3;
}

#main-nav ul li:first-child {
   border-top: 1px solid #c9c3c3;
}

#main-nav ul li:last-child {
   margin-bottom: 10px;
} 

#logo {
   margin-bottom: 20px;
   max-width: 382px;
}

/* Main Hero Image */
#index-hero {
    background: url(../images/hero-main.jpg) no-repeat;
    height: 200px;
 }

 .book-now {
    background-color: #9a2018;
    font-size: 16px;
    transition: 500ms linear;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    transition:all 0.3s ease;
    cursor: pointer;
 }

 .book-now p {
   color: #fff;
 }

 .book-now p:hover {
   border-bottom: #fff solid 2px;
 }
 
 .book-now:hover {
    background-color: #C54242;
 }
 
 #book-now-hero {
    height: 67px;
 }

 #hero-heading-box {
    align-self: end;
 }

 .hero-img-h2, .hero-img-h3 {
    background: rgb(255, 255, 255);
    padding: 10px 15px;
    font-size: 14px;
 }
 
 .hero-img-h2 span,  .hero-img-h3 span {
    color: #9a2018;
    font-size: 12px;
 }

 .hero-summary h3 {
   font-size: 14px;
   padding-bottom: 10px;
 }
 
 .hero-summary p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
 }

 .hero-summary li {
    list-style-type:disc;
    font-size: 14px;
 }

 /* Main Hero Image Contact Section */
#contact-hero {
    background: url(../images/grey-background.svg) no-repeat;
    height: 180px;
    padding-top: 20px;
    padding-bottom: 20px;
 }

.fas {
    font-size: 42px;
    color: #9a2018;
    margin: 0 auto;
    float: left;
 }
 
.fa-mobile-alt {
   margin-right: 20px;
   margin-left: 70px;
}

.fa-map-marker-alt {
   margin-right: 17px;
   margin-left: 70px;
}

#hero-numbers, #hero-address {
   font-size: 14px;
   color: #626262;
}

/* Why Choose Us Nav*/
#why-choose-us-nav {
   padding-top: 15px;
   padding-bottom: 15px;
}

#why-choose-us-nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
}
#why-choose-us-nav ul li {
   margin-bottom: 5px;
}

#why-choose-us-nav ul li a {
  color: inherit;
  padding-left: 8px;
}

#why-choose-us-nav ul li a.selected:hover {
   border-left: #9a2018 solid 5px;
   font-weight: bold;
   color: #9a2018;
   text-decoration: underline;
 }

 /* Why Choose Us Section */
 #why-choose-us-hero-con {
   background: url(../images/why-choose-us-hero.jpg) no-repeat;
   height: 195px;
 }

 .why-choose-us-image {
   float: left;
   margin-right: 15px;
   margin-top: 5px;
}

.why-choose-us-image-con h2 {
   font-size: 14px;
   margin-bottom: 20px;
   margin-top: 5px;
}

.why-choose-us-image-con p {
   font-size: 12px;
   margin-bottom: 10px;
   line-height: 20px;
}

#why-choose-us-bottom-nav {
   background-color: #CF6666;
   padding: 10px;
   margin-top: 20px;
   margin-bottom: 30px;
}

#why-choose-us-bottom-nav ol {
   list-style-type: none;
   margin: 0 0 0 20px;
   padding: 0;
}

#why-choose-us-bottom-nav ol li {
   display: inline;
}

#why-choose-us-bottom-nav ol li a {
   padding: 5px;
   color: #fff;
}

/* About & FAQ */
#about-hero-con {
   background: url(../images/about-us-hero.jpg) no-repeat;
   height: 195px;
}

#about-us-text {
   padding-bottom: 60px;
}

#about-us-text p {
   font-size: 14px;
   margin-bottom: 20px;
   line-height: 22px;
}

#about-us-text-column2 {
   font-style: italic;
}

#faq-con {
   background: url(../images/Grey_bg_412x1000.svg) no-repeat;
   padding-top: 35px;
   padding-bottom: 30px;
}

#faq-con h2 {
   font-size: 24px;
   margin-bottom: 20px;
}

#faq-con h2 span {
   color: #9a2018;
   font-size: 16px;
}

.faq-items {
   margin-bottom: 16px;
}

.faq-items h3 {
   background: #e8e7e7;
   padding: 16px;
   font-size: 16px;
}

.faq-items ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

.faq-items li {
   padding: 8px 0;
   border-bottom: 1px solid #9a2018;
}   

.faq-items a {
   color: inherit;
   font-size: 13px;
}

#faq-text-con {
   margin-top: 20px;
   margin-bottom: 20px;
}

/* 7. ---Contact--- */
#contact-hero-con {
   background: url(../images/contact.jpg) no-repeat;
   height: 195px;
}

#contact-hero-heading-box {
   align-self: end;
}

#contact-hero-text {
   margin-top: 15px;
   margin-bottom: 25px;
}

#contact-hero-address p {
   margin-bottom: 20px;
   font-size: 14px;
   line-height: 22px;
}

#contact-hero-address {
   margin-bottom: 30px;
}

#contact-hero-address h3 {
   margin-bottom: 25px;
}

/* Contact Form */
#contact-hero-form form {
   display: flex;
   flex-direction: column;
}

#contact-hero-form input, textarea {
   padding: 22px;
   border: 2px solid #d6d6d6;
   background-color: #f7f7f7;
   border-radius: 5px;
   margin-bottom: 30px;
   font: inherit;
   width: auto;
}

#contact-hero-form textarea {
   height: 250px;
}

#contact-hero-form input[type="submit"] {
   padding: 12px 28px;
   background: #9a2018;
   color: #fff;
   border: none;
   transition: all 200ms ease-in;
   width: 150px;
   cursor: pointer;
   align-self: flex-end;
}

#contact-hero-form input[type="submit"]:hover {
   background-color: #454343;
   border-radius: 5px;
   width: 250px;
}

#contact-hero-form input[value="Send"]:hover{
   Color: #fff;
   padding-right: 40px;
   text-decoration: underline;
   font-size: 20px;
}

/* 8. Footer */
#footer-hero {
   background-image: url(../images/footer.jpg);
	background-repeat: no-repeat;
   color: #fff;
   font-size: 12px;
   margin-top: 40px;
   padding-bottom: 80px;
}

#footer-hero h3 {
   margin-top: 30px;
   font-size: 28px;
   margin-bottom: 16px;
}

#footer-privacy .line-seperator {
   margin-top: 0px;
}

#footer-contact-info h3 {
   font-size: 23px;
}

#footer-contact-info p {
   margin-bottom: 20px;
   line-height: 18px;
   font-size: 11px;
}

/* Book Now Section */
#book-now-form-hero {
   background: url(../images/booknow.jpg) no-repeat;
   height: 200px;
}

      /* arrive date */
#arrive-date {
   display: flex;
   justify-content: center;
}

#arrive-date {
   color: #3b3b3b;
   text-align: center;
   font-size: 14px;
   font-weight: bold;
}

#arrive-date input[type="date"]{
   background-color: #fff;
   border: #626262 solid 1px;
   border-radius: 50px;
   padding: 2px 130px 5px 130px;
   color: #cdcdcd;
}

      /* check availability button */
      .check-bth {
         background-color: #9a2018;
         width: 160px;
         font-size: 16px;
         font-style: italic;
         color:#fff;
         border-radius: 50px;
         padding-top: 5px;
         padding-bottom: 5px;
         border: 0px;
         margin: 0 20 22 20 ;
      }
      
      .check-bth:hover {
         background-color:#5f5c5c;
         text-decoration: underline;
      }

      .check-bth span {
         color: #fff;
      }
      
      #check-a {
         display: flex;
         justify-content: center;
         margin-top: 20px;
      }
      
      
      /* drop down select */
#choose-form {
   display: flex;
   margin-top: 20px;
}

#choose-form label span {
   color: #3b3b3b;
   font-size: 14px;
   font-weight: bold;
   padding-left: 40px;
}

.select-content {
   color: #9a2018;
   padding: 3px 25px 3px 25px;
   border: #727171 solid 1px;
   border-radius: 50px;
}

.select-dropdown {
   display: inline;
   padding-left: 10px;
}

/* Rooms Page */
#rooms-hero {
   background: url(../images/hero-rooms.jpg) no-repeat;
   height: 200px;
}

.hero-summary details {
   font-size: 14px;
   margin-top: 20px;
  }
  
.hero-summary summary {
     background-color: #9a2018;
     width: 100px;
     font-size: 16px;
     font-style: italic;
     color:#fff;
     border-radius: 50px;
     padding: 2px 20px 3px 20px;

  }
  
.hero-summary summary:hover {
     background-color:#5f5c5c;
     text-decoration: underline;
   }

.hero-summary span {
   color:#9a2018;
   font-weight: bold;
}

#rooms-nav {
   padding-top: 15px;
   padding-bottom: 15px;
}

#rooms-nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
}
#rooms-nav ul li {
   margin-bottom: 5px;
   border-left: #727171 1px;
}

#rooms-nav ul li a {
  color: inherit;
  padding: 5px;
}

#rooms-nav ul li a.selected:hover {
   border-left: #9a2018 solid 5px;
   font-weight: bold;
   color: #9a2018;
   text-decoration: underline;
   padding-left: 20px;
 }

#chateaus-hero {
   background: url(../images/Rooms-chateaus.jpg) no-repeat;
   height: 200px;
}

#villas-hero {
   background: url(../images/Rooms-villas.jpg) no-repeat;
   height: 200px;
}

#masters-hero {
   background: url(../images/Rooms-masters.jpg) no-repeat;
   height: 200px;
}

#exotics-hero {
   background: url(../images/Rooms-exotics.jpg) no-repeat;
   height: 200px;
}

#chalets-hero {
   background: url(../images/Rooms-chalets.jpg) no-repeat;
   height: 200px;
}

#jr-hero {
   background: url(../images/Rooms-jr.jpg) no-repeat;
   height: 200px;
}

.rooms-list {
   font-size: 14px;
}

/* Spa Page */
#spa-hero{
   background: url(../images/Spa-hero.jpg) no-repeat;
   height: 200px;
}

#spa-feature-hero-con {
   background: url(../images/Spa-Feature.jpg) no-repeat;
   height: 200px;
}

#spa-services-hero-con {
   background: url(../images/Spa-services.jpg) no-repeat;
   height: 200px;
}

#spa-introduction h2 {
   font-size: 14px;
   margin-bottom: 5px;
}

#spa-introduction p {
   font-size: 14px;
   margin-top: 10px;
   margin-bottom: 20px;
   line-height: 20px;
}

#spa-inn-image {
   float: right;
   margin-left: 15px;
   margin-top: 5px;
}

.spa-feature-introduction {
   font-size: 14px;
   font-weight: bold;
   margin-bottom: 20px;
   margin-top: 5px;
}

.spa-container {
   display:flex;
   flex-direction: row;
   justify-content:space-between;
   font-size: 12px;
   margin-top: 5px;
   margin-bottom: 5px;
}

#feature-box {
   border: 1px solid #5e5e5e;
   width: 380px;
   height: 150px;
   overflow: scroll;
 }

.spa-tx-name h3 {
   font-size: 14px;
   color: #9a2018;
   font-weight: bold;
   text-decoration:underline;
   padding-left: 10px;
}

.spa-tx-price h4 {
   font-size: 14px;
   color: #9a2018;
   font-weight: bold;
   border-left: #9a2018 solid 5px;
   padding-left: 10px;
}

.spa-tx-content p {
   font-size: 12px;
   padding-left: 10px;
}

#spa-feature-text {
   margin-bottom: 20px;
}

/* Spa Services */
.spa-dropdown summary {
   width: 370px;
   background-color: #9a2018;
   color: #fff;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 10px;
   font-size: 14px;
   margin-bottom: 20px;
}

.spa-images {
   width: 600px;
}

.spa-dropdown summary:hover {
   text-decoration: underline;
}

.spa-services-container {
   display: flex;
   justify-content:space-around;
   }

.spa-dropdown h2 {
   color: #9a2018;
   font-size: 14px;
   margin-bottom: 10px;
   text-align: center;
}

.spa-dropdown h3 {
   color: #5e5e5e;
   font-size: 14px;
   margin-bottom: 10px;
   text-align: center;
}

.spa-dropdown ul li {
   margin-bottom: 5px;
   font-size: 12px;
}

.b-price1 h2{
   color: #9a2018;
   font-weight: bold;
   padding-left: 10px;
   border-left: #9a2018 solid 3px;
   margin-bottom: 5px;
}

.b-price1 h2 span{
   color: #727171;
   padding-left: 10px;
}

.box-text {
   font-size: 12px;
   margin-top: 8px;
   margin-bottom: 8px;
}
.box-text > span {
   color: #9a2018;
}

#hand-note h3{
   color: #9a2018;
   font-size: 12px;
   text-align: center;
}

#hand-note h3::before{
   content: "💅";
}

#hand-note h3::after{
   content: "💅";
}

#hand-note p{
   font-size: 12px;
   text-align: center;
   font-style: italic;
}

#hand-note {
   margin-bottom: 10px;
}

/* spa Products */
#spa-products-hero-con {
   background: url(../images/Spa-OntarioSpa.jpg) no-repeat;
   height: 200px;
}

#spa-products-text h2 {
   font-size: 14px;
   padding-bottom: 5px;
}

#spa-products-text p {
   font-size: 12px;
   margin-right: 5px;
}

#spa-pdt-con {
   margin-bottom: 20px;
}

#spa-world-con {
   margin-bottom: 20px;
}

.spa-pdt-image img{
   float: left;
   width: 120px;
   padding-right: 10px;
}

.spa-world-image img{
   float: left;
   width: 100px;
   padding-right: 18px;
   padding-left: 10px;
}

/* Spa Policy */
#spa-p-hero {
   background: url(../images/grey-background.svg);
   width: 412px;
   padding-top: 20px;
   padding-bottom: 20px;
   margin-bottom: 5px;
}

.spa-p-con h2 {
   font-size: 16px;
   margin-bottom: 8px;
}

.spa-p-container {
   display: flex;
   margin-bottom: 8px;
}

#spa-p-text {
   padding-left: 50px;
}

#spa-p-text span {
   color: #9a2018;
   text-decoration: underline;
}

.spa-p-remarks {
   font-size: 11px;
   font-style: italic;
}

.spa-policy summary {
   width: 370px;
   background-color: #757372;
   color: #fff;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 10px;
   font-size: 14px;
   margin-top: 20px;
   margin-bottom: 20px;
}

.spa-policy summary:hover {
   text-decoration: underline;
}

.spa-policy p {
   font-size: 12px;
}

#spa-unforeseen-text {
   font-size: 12px;
   line-height: 20px;
   font-style: italic;
}

.spa-unforeseen summary {
   width: 370px;
   background-color: #757372;
   color: #fff;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 10px;
   font-size: 14px;
   margin-top: 20px;
   margin-bottom: 20px;
}

.spa-unforeseen summary:hover {
   text-decoration: underline;
}

#spa-unforeseen {
   font-size: 12px;
   font-style: italic;
}

#spa-unforeseen-text span {
   color: #9a2018;
}

#John {
   color: #9a2018;
   font-family: "Licorice", cursive;
   font-weight: bold;
   font-style: normal;
   font-size: 25px;
   display: flex;
   justify-content: end;
   padding-top: 20px;
}

/* Activities */
#act-hero{
   background: url(../images/act-hero.jpg) no-repeat;
   height: 200px;
}

.act-introduction h2 {
   font-size: 14px;
   margin-bottom: 5px;
}

.act-introduction p {
   font-size: 14px;
   margin-top: 10px;
   margin-bottom: 20px;
   line-height: 20px;
}

.act-introduction ul li {
   font-size: 14px;
}

#act-about-hero-con{
   background: url(../images/act-about.jpg) no-repeat;
   height: 200px;
}

#park-act-hero-con{
   background: url(../images/act-park-act.jpg) no-repeat;
   height: 200px;
}

.act-image img{
   width: 380px;
}

#fishing {
   font-size: 14px;
   margin-bottom: 10px;
}

#fishing h4 {
   padding-top: 15px;
   padding-bottom: 5px;
}

.fishing-link span{
   color: #3b3b3b;
   font-size: 14px;
   border-bottom: #3b3b3b solid 1px;
   padding-left: 3px;
}

.fishing-link::before {
   content: "▶" ;
   color: #3b3b3b;
}

.fishing-link span:hover {
   color: #9a2018;
   font-style: italic;
   border-bottom: #9a2018 solid 3px;
}

#lake {
   font-size: 14px;
   margin-bottom: 10px;
}

#four-season-hero-con {
   background: url(../images/act-4Season.jpg) no-repeat;
   height: 200px;
}

#four-season-nav {
   background-color: #CF6666;
   margin-top: 10px;
   margin-bottom: 30px;
}

#four-season-nav ul {
   list-style-type: none;
   display: flex;
   text-align: center;
   padding-top: 10px;
   padding-bottom: 10px;
}

#four-season-nav ul li a {
   color: #fff;
   padding-left: 20px;
}

#four-season-nav ul li a:hover {
   text-decoration: underline;
   font-weight: bold;
}

#back-to-top {
   position: fixed;
   margin-top: 500px;
   margin-left: 340px;
   cursor: pointer;
   z-index: 9999;
}

#back-to-top:hover {  
   transform: scale(1.2);
 }

